.cinema-body{
  /* background-color: gray; */
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.navbar-dark{
  background: #082D5E !important;
  min-height: 10%;
  border: none;
}
.logo-img{
  width: 100px;
}
.container-fluid{
  margin-top: 64px;
}
.jumbotron {
  background-image: url(../img/cartelera.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  border-radius: 0px !important;
  margin-bottom: 0px;
  min-width: 100%;
}
.welcome-title{
  color: white;
  margin-right: 10px;
}
.jumbotron-img{
  margin-top: 20px;
  width: 200px;
}
.jumbotron-text{
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.redes-sociales{
  margin-top: 20px;
}
.img-social{
  height: 40px;
  width: 40px;
}
.titulo-cartelera {
  min-height: 45px;
  background: #082D5E;
}
.titulo-text{
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding: 10px;
}
.movies-row {
  background: rgba(0, 0, 0, 0.8);
  /* min-height: 350px; */
  min-height: 300px;
  padding-left: 15px;
  padding-right: 15px;
}
.movie-title{
  color: white;
}
.movies-column {
  margin-top: 5px;
  background: #00678E;
  min-height: 330px;
  border: 1px dashed #FFFFFF;
}
.image-movie{
  /* width: 100%;
  height: 100%;
  margin-top: 35px; */
  height: 260px;
  padding: 6px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}
.services-text {
  color: white;
  margin-top: 13px;
}
.left-column {
  border-right: 1px dashed #FFFFFF;
}
.user-data{
  margin-top: 10px;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid white;
}
.input-element{
  width: 100%;
  height: 28px;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 5px;
  border: none;
}
.label-class{
  color: white;
  font-size: 13px;
  margin-right: 10px;
}
.btn-save{
  width: 40%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border: none !important;
}
@media (max-width: 770px) {
.right-column {
    display: none;
  }
.movies-row {
    min-height: 250px;
  }
.movies-column {
    min-height: 230px;
  }
.jumbotron {
    min-height: 400px;
  }
.h2{
  font-size: 22px;
}
.titulo-cartelera{
  font-size: 20px;
}
.jumbotron-img{
  margin-top: 20px;
}
}
